@{
    ViewBag.Title = "Booking Closed";
}
<section class="about text-center">
    <div class="container">
        <div class="row">
            <h3 style="margin-top:200px">Booking has been closed on 20-Jun-2021. Draw will occur on 25-Jun-2021. Please check on 25-Jun-2021 for draw.</h3>
        </div>
    </div>
</section>
