
@{
    ViewBag.Title = "SubmittedMessage";
}
<section class="about text-center">
    <div class="container">
        <div class="row">
            <h3 style="margin-top:200px">@ViewBag.message</h3>
        </div>
    </div>
</section>


