

<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
    <header class="clearfix" style="margin-top: -200px">
        <h1 style="color: #e4f1f8">GREATER NOIDA AWAS YOJNA </h1>
        <p style="color: #e4f1f8; font-weight: 800;">
            ‘’Greater Noida Awas Yojna (GNAY)’’ <br />
            Project is an Initiative taken by under the Scheme of  Pradhan  Mantri ‘’Housing for All By 2022’’ Yojna.
        </p>
    </header>
</div>
<!-- /headerwrap -->
<!-- ==== ABOUT ==== -->
<div name="about">
    <div class="container">
        <div class="row white">
            <div class="col-md-6">
                <img class="img-responsive" width="100%" alt="GNAY in Noida" title="GNAY in Noida" src="~/Content/img/about/about2.jpeg">
            </div>
            <div class="col-md-6">
                <h3>About us</h3>
                ‘’Greater Noida Awas Yojna (GNAY)’’ Project is an Initiative taken by under the Scheme of  Pradhan  Mantri ‘’Housing for All By 2022’’ Yojna.<br /><br />

                We highly get Inspired By this Yojna which supports and helps the Lower Middle Class and Low Income Group People who doesn’t have their own reserved property (house/flat) anywhere inside/outside India.<br /><br />

                We Makaan Developers are trying to achieve to help few people of the same category by providing them Affordable Homes by 2021.

            </div>
        </div>
        <!-- row -->
    </div>
</div>
<!-- container -->
<!-- ==== SERVICES ==== -->
<div id="services" name="services">
    <div class="container">
        <div class="row">
            <h2 class="centered">Project Details</h2>
            <hr>

            <div class="col-lg-8 col-lg-offset-2">
                <p class="large">
                    GNAY (Greater Noida Awas Yojna ) is a well equipped Upcoming Sector Surrounded by full of Residential houses with all amenities available nearby.<br />

                    One of the Best and Affordable rates as per nearby locality.<br />

                    Gated Society with CCTV Surveillance, water supply, Guard Room, Light Poles and Sewerage lines.<br />

                    3 Sizes Available with Best designs, designed By One of the leading Architectural firm of Delhi<br />

                    All Sizes have Separate Drawing/Dinning Space<br />

                    Proper Ventilation<br />

                    ‘’GNAY’’ also permits to Construct another two floors on the house.<br /><br />

                    @*Nearby :

                        Ajnara ‘’KHEL Goan’’ -  3 km<br />
                        Upcoming Metro Station(Depot station)  - 2.5 km<br />
                        Railway Station – 2 km<br />
                        DMIC ( Delhi Mumbai Industrial Corridor ) – 0 km<br />
                        300 acres Sabji Mandi – 5 km<br />
                        Pari Chowk – 6 km<br />
                        JayPee F1 Track – 14 km<br />
                        Running Industries (Dabur, LG, Ambuja, NTPC…… ) – 0 km<br />*@

                </p>
            </div>


            @*<div class="col-lg-12 callout" style="margin-top: 60px">
                    <img alt="GNAY Layout Plan" title="GNAY Front View" src="~/Content/img/PropertyDetails/smartvillafrontgate.jpg" width="70%" />

                    <h3>FRONT VIEW</h3>
                    <p>In front of villas there is wide main road.</p>
                </div>
                 <div class="col-lg-12 callout" style="margin-top: 60px">
                    <img alt="GNAY Layout Plan" title="GNAY Layout Plan" src="~/Content/img/PropertyDetails/smartvillainternalView.jpg" width="70%" />
                    <h3>INTERNAL VIEW</h3>
                    <p>There is lot on internal space between two rows of villas.</p>
                </div>
                 <div class="col-lg-12 callout" style="margin-top: 60px">
                    <img alt="GNAY Layout Plan" title="GNAY Layout Plan" src="~/Content/img/PropertyDetails/smartvillaclub.jpg" width="70%" />
                    <h3>CLUB AREA</h3>
                    <p>A good area will be developed as club area.</p>
                </div>*@
            <div class="col-lg-12 callout" style="margin-top: 60px">
                <h3>PROJECT LAYOUT</h3>
                <p>The project is covered with lot of green space.</p>
                <img alt="GNAY Layout Plan" title="GNAY Layout Plan" src="~/Content/img/PropertyDetails/1.Layout.jpeg" width="100%" />

            </div>
            <div class="col-lg-12 callout" style="margin-top: 60px">
                <div class="col-md-6">
                    <img class="img-responsive" alt="GNAY in Noida" title="GNAY in Noida" src="~/Content/img/about/near1.jpeg">
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" alt="GNAY in Noida" title="GNAY in Noida" src="~/Content/img/about/near2.jpeg">
                </div>
            </div>


            <div class="col-lg-12 callout" style="margin-top: 60px">
                <h3>MASTER PLAN</h3>
                <img alt="Master Plan" title="Master Plan" src="~/Content/img/PropertyDetails/2.MasterPlan.jpeg" width="100%" />

            </div>
            <div class="col-lg-12 callout" style="margin-top: 60px">
                <h3>LUCKY DRAW!!</h3>
                <img alt="LUCKY DRAW" title="Master Plan" src="~/Content/img/popup.jpg" width="100%" />

            </div>
            @*<div class="col-lg-12 callout" style="margin-top: 60px">
                    <img src="~/Content/img/PropertyDetails/1.50yardsA.JPG" alt="GNAY 60 yards option" title="GNAY 60 yards option" width="70%" />
                    <h3>50 YARDS OPTION 1</h3>
                    <p>There are three varieties for 50 yards, you can choose yours.</p>
                </div>
                <div class="col-lg-12 callout" style="margin-top: 60px">
                    <img src="~/Content/img/PropertyDetails/2.60yardsA.JPG" alt="GNAY 70 yards option" title="GNAY 70 yards option" width="70%" />
                    <h3>60 YARDS OPTION 1</h3>
                    <p>There are three varieties for 60 yards, you can choose yours.</p>
                </div>
                <div class="col-lg-12 callout" style="margin-top: 60px">
                    <img src="~/Content/img/PropertyDetails/3.80yardsA.JPG" alt="GNAY 80 yards option" title="GNAY 80 yards option" width="70%" />
                    <h3>80 YARDS OPTION 1</h3>
                    <p>There are three varieties for 80 yards, you can choose yours.</p>
                </div>*@

        </div>
        <!-- row -->
    </div>
</div>

<!-- container -->
<!-- ==== CONTACT ==== -->
<div id="contact" name="contact">
    <div class="container">
        <div class="row">
            <h2 class="centered">Contact Us</h2>
            <hr>
            <div class="col-md-4 centered">
                <i class="fa fa-map-marker fa-2x"></i>
                <p>
                    212, Block 4,<br />
                    Ganga shopping Complex, Sector 29,<br /> Noida, U.P.
                </p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-envelope-o fa-2x"></i>
                <p>makaandevelopers@gmail.com</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-phone fa-2x"></i>
                <p>
                    +91-9818729828
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <p>
                    If you have any query for Greater Noida Awas Yojna, contact us at 9818729828.
                    @*To post your requirement please click on send message.*@
                </p>
                <form id="contact" method="post" class="form" role="form">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">

                            <a class="btn btn-info btn-lg" target="_blank" href="/GNAY_Application/Create">Booking Form</a>
                        </div>
                    </div>
                </form>
                <!-- form -->
            </div>
        </div>
        <!-- row -->
        <!-- Modal -->
        <div class="modal fade" id="myModalQuery" role="dialog" style="text-align: left;">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Submit your query</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" method="post">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="mobileno">Mobile:</label>
                                <input type="number" class="form-control" id="mobileno" name="mobileno" pattern="[0-9]{10}" required>
                            </div>
                            <div class="form-group">
                                <label for="query">Query:</label>
                                <textarea class="form-control input-sm" id="query" name="query" required></textarea>
                            </div>

                            @*<button type="submit" class="btn btn-default" style="margin:0px">Submit</button>*@
                            <button type="button" onclick="SubmitQuery()" id="btnSubmitQuery" class="btn btn-default" style="margin: 0px">Submit</button>
                            <div id="divMessage" class="alert alert-info hidden" style="margin: 10px 0px 0px 0px; padding: 5px;"></div>
                        </form>
                    </div>
                    <div class="modal-footer" style="padding: 10px; margin: 0px;">
                        <button type="button" class="btn btn-default" style="margin: 0px" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


